{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "38",
          "ie": "11",
          "node": true
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import"
  ]
}